body{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: url(Imagens/information-technology-gfeaf13f4c_1920.jpg);
    color: white;
}
#titulo{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;   
}
#campo{
    display: flex;
    flex-direction:row;
    margin-bottom: 15px;
}
#sobrenome{
    margin-left: 30px;
}
#nome{
    margin-left: 8%;
}
#Nome{
    background-color:rgba(53, 53, 80, 0.8);
    margin: auto;
    padding: 2%;
    width: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
#email{
    display: flex;
}
#Email{
    margin-left: 25px;
    position: absolute;
    left: 25.8%;
}
#button{
    margin: 0 auto;
    display: flex;
    padding: 10px;
    border-radius: 2px;
    font-size: 15px;
    transition: all 0.5s;
    cursor: pointer;
}
#button:hover{
    background:#b2b6c4;
    transform: scale(1.1);
    transition: all 0.5s;
}